<h1>Hello {{name}}</h1>
<h2>Instructions for filling out the form</h2>

<div>
    <h2>First name: </h2>
    <p>Fill in your first name</p>
</div>

<div>
    <h2>Last name: </h2>
    <p>Fill in your last name</p>
</div>

<div>
    <h2>ID number: </h2>
    <p>Fill in your ID</p>
</div>

<div>
    <h2>Date of birth: </h2>
    <p>Fill in your date of birth</p>
</div>

<div>
    <h2>Gender: </h2>
    <p>Male/Female</p>
</div>

<div>
    <h2>HMO: </h2>
    <p>Macabi</p>
    <p>Clalit</p>
    <p>Meuchedet</p>
    <p>Leumi</p>
</div>

<div>
    <h2>Children: </h2>
    <p>Fill in the names of your children</p>
    <p>Fill in the ID numbers of your children</p>
    <p>Fill in the birthdate of your children</p>
</div>

